fastapi
uvicorn
chromadb
langchain
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-google-genai
langchain-tavily
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
pymupdf4llm
pymupdf-layout
pypdf
pdf2image
streamlit
ragas
rapidfuzz
pyngrok
pysqlite3-binary